.rolling-text-btn {
  appearance: none;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #a4c639;
  color: #fff;
  padding: 10px 28px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  transform: translateY(0);
  transition: transform 0.44s ease, box-shadow 0.44s ease,
    background-color 0.3s ease;
}

.rolling-text-btn div {
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 20px;
  text-shadow: 0 20px 0 #fff;
}

.rolling-text-btn span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transform: translateY(0);
  transition: transform 0.44s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.rolling-text-btn:hover span {
  transform: translateY(-20px);
}

.rolling-text-btn .arrow-icon {
  margin-left: 6px;
}
